<div class="modal-header">
	<h4>Edytuj</h4>
</div>
<div class="modal-body  form-horizontal">
	<div class="form-group">
		<label class="col-sm-3 control-label">
			Nazwa Pola
		</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" ng-model="field.fieldName">
		</div>

	</div>


	<div class="form-group" ng-hide="showAddOptions(field) || showHelpText(field)">
		<label class="col-sm-3 control-label">
			Tekst Pomocy
		</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" ng-model="field.fieldDescription">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="field.required">Czy pole ma być wymagane?
				</label>
			</div>
		</div>
	</div>


	<div class="form-group" ng-show="showAddOptions(field)">

		<label class="col-sm-3 control-label">
			Opcje
		</label>

		<div class="col-sm-6">
			<div ng-repeat="option in field.options track by $index">
				<input type="text" class="form-control margin-bottom-5 width-auto" ng-model="field.options[$index]">
				<span><i class="fa fa-minus icon-muted-hover" ng-click="deleteOption(field, $index)"></i></span>
			</div>
			<span><i class="fa fa-plus icon-muted-hover " ng-click="addOption(field)"></i> </span>
		</div>

	</div>


	<div class="form-group" ng-show="showValidationInput(field)">
		<label class="col-sm-3 control-label">Wyrażenie regularne</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" ng-model="field.validationPattern">
		</div>
	</div>





</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Anuluj</button>
	<button type="button" class="btn btn btn-primary" ng-click="$close(field)">Zmień</button>
</div>
