<span class="ribbon-button-alignment">
	<span ng-click="refreshRoute()" class="btn btn-ribbon" title="refresh"><i class="fa fa-refresh"></i></span>
	<span class="hide-menu hidden-lg hidden-md btn btn-ribbon">  <i class="fa fa-bars fa-lg"></i></span>
</span>

<div class="ribbon-button-alignment pull-right">
	<ul class="list-inline">
		<li class="dropdown">
			<a class="btn btn-ribbon dropdown-toggle" data-toggle="dropdown" href="#">
				<span class="no-shadow light-color">{{ currentCustomer.customerName }}</span>
				<i class="fa fa-angle-down"></i>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header">{{t('Available_profiles')}}</li>
				<li ng-repeat="customer in customers" ng-class="{'active current': isCurrentCustomer(customer)}">
					<a ng-if="isCurrentCustomer(customer)" href>{{customer.customerName}}</a>
					<a ng-if="!isCurrentCustomer(customer)" href ng-click="switchCustomerHeader(customer)">{{customer.customerName}}</a>
				</li>
				<li><a href ng-click="logout()"><i class="icon-off"></i> {{t('Logout')}}</a></li>
			</ul>
		</li>
	</ul>
</div>
