<div class="jarviswidget well modal-body" ng-init="initModal()">
	<div class="widget-body">

		<div class="row">
			<div class="col-xs-1 text-center">
				<i class="fa {{previewDocument.icon}} fa-4x hidden-xs"></i>
			</div>
			<div class="col-xs-6 col-md-7 form-properties">
				<div class="preview-title">{{previewDocument.name}}</div>
				<div class="preview-description">{{previewDocument.description}}</div>
			</div>

			<div class="col-xs-4 col-md-3 muted text-right">
				<span>Ostatnia modyfikacja: {{ previewDocument.timestamp | date : dateFormat }}</span><br>
				<span>wersja: {{ previewDocument.version }}</span><br>
			</div>
 			<div class="col-xs-1 col-md-1 muted text-right">
				<button type="button" class="close x-button" ng-click="$dismiss(); $event.stopPropagation();">×</button>
			</div>
		</div>

		<hr>

		<div class="row">

			<div class="col-lg-6 col-md-12">
				<div class="form-horizontal">
					<fieldset>
						<legend>Metadane</legend>
						<ng-form name="documentForm" class="form-horizontal" role="form">
							<div ng-repeat="field in previewDocument.metaFields">
								<field-preview-directive></field-preview-directive>
							</div>
						</ng-form>
								<div class="form-horizontal">
									<div class="form-group ng-scope">
										<label class="col-sm-2 control-label">
											Status dokumentu
										</label>

										<div class="col-sm-3 preview-values">
											ZATWIERDZONY(hardcoded)
										</div>
									</div>
								</div>
						<hr class="simple">
					</fieldset>
				</div>
			</div>

			<div class="col-lg-6 col-md-12">
				<div class="form-horizontal">
					<fieldset>
						<legend>Załączniki</legend>

								<section ng-controller="UploaderController" ng-file-drop>
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table table-hover" ng-show="uploader.queue.length">
													<thead>
														<tr>
															<th width="50%">Name</th>
															<th ng-show="uploader.isHTML5">Size</th>
															<th ng-show="uploader.isHTML5">Progress</th>
															<th>Status</th>
															<th>Actions</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="item in uploader.queue">
															<td><strong>{{ item.file.name }}</strong></td>
															<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
															<td ng-show="uploader.isHTML5">
																<div class="progress" style="margin-bottom: 0;">
																	<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
																</div>
															</td>
															<td class="text-center">
																<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
																<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
																<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
															</td>
															<td nowrap>
																<button type="button" class="btn btn-success btn-xs" ng-click="item.reUpload(item)" ng-disabled="item.isReady || item.isUploading">
																	<span class="glyphicon glyphicon-upload"></span> Re-upload
																</button>
																<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
																	<span class="glyphicon glyphicon-ban-circle"></span> Cancel
																</button>
																<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
																	<span class="glyphicon glyphicon-trash"></span> Remove
																</button>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="text-center" ng-if="!uploader.queue.length">Brak załączonych plików</div>
										</div>
									</div>
								</section>

					</fieldset>
				</div>
			</div>
		</div> <!-- end of .row -->

		<hr>
		<div class="">
			<div class="row">
				<div class="row text-center" style="margin-top: 10px; margin-bottom: 10px; font-weight: bold;">{{t('VERSION')}} {{ previewDocument.version }}</div>
				<div class="col-md-5">
					<a class="pull-left" ng-class="{'disabledLink': disablePrevLink}" ng-click="switchVersion(previewDocument, -1)">Poprzednia wersja</a>
					</div>
				<div class="col-md-2">
					<button class="btn btn-primary btn-block" ng-click="restoreDocumentVersion(previewDocument, previewVersion)">Przywróć</button>	
				</div>
				<div class="col-md-5">
					<a class="pull-right" ng-class="{'disabledLink': disableNextLink}"ng-click="switchVersion(previewDocument, 1)">Następna wersja</a>
				</div>
			</div>
			<div class="row text-center" style="margin-top: 5px; color: #B6052D">{{t('Restore_may_cause_loss_of_data')}}</div>
		</div>

		<div class="clearfix"></div>
	</div> <!-- .widget-body -->
</div> <!-- /jarviswidget -->