// Fixed collapsing menu in field template editor
.form-actions.collapse:not(.in) {
	display: none;
}

.form-actions[collapse] {
	text-align: left;
	margin-bottom: 13px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

// Allow proper validation icon placement along with buttons inside input
// @see https://github.com/twbs/bootstrap/issues/12551
.has-feedback {
	> .form-control {
		padding-right: 30px;
	}

	> .form-control-feedback {
		position: relative;
		right: 1px;
		line-height: 32px;
		float: right;
		margin-top: -32px;

	}
}

.btn-group > .btn.btn-labeled {
	padding-bottom: 0;
	padding-top: 0;
}

.input-group textarea.form-control {
	height: auto;
}

// Custom scrolling of the floating widgets
[scrollfix-column].ui-scrollfix {
	position: fixed;
	top: 20px;
}

.smart-accordion-default .panel-title > a > i.fa {
	display: block;
	vertical-align: middle;
	line-height: 20px;
}

.modal-dialog {
	margin: -2px auto;
}

.modal-content {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
