<section ng-controller="CreateDocumentController" ng-init="init()">
	<div class="contianer">

		<div class="jarviswidget well" ng-controller="CreateTemplateController" ng-init="templateMode = editMode; form = document">
			<div class="widget-body">

				<div class="row">

					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 text-center">
						<div ng-if="!templateCreatorMode">
							<i class="fa {{ document.icon }} fa-4x "></i>
						</div>

						<div ng-if="templateCreatorMode">
							<div><i class="fa {{document.icon}} fa-5x" ng-model="document.icon"></i></div>
							<div class="text-center">
								<i class="fa fa-caret-left fa-3x margin-lr-5 unselectable pointer" ng-class="{'disabledArrow': disableLeftArrow}" ng-click="switchIcon(-1)"></i>
								<i class="fa fa-caret-right fa-3x margin-lr-5 unselectable pointer" ng-class="{'disabledArrow': disableRightArrow}" ng-click="switchIcon(1)"></i>
							</div>
						</div>
					</div>



					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-9 form-properties">

						<div class="form-group form-template">
							<input type="text" name="form-name" ng-model="document.name" class="form-title form-control">
							<textarea rows="1" type="text" name="form-description" ng-model="document.description" placeholder="Opis dokumentu" class="form-description form-control"></textarea>
						</div>

					</div>



					<div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 muted text-right">
						<span ng-show="document.timestamp">Ostatnia modyfikacja: {{ document.timestamp | date : dateFormat }}</span><br>
						<span ng-show="document.version">{{ t('Version') }}: {{ document.version }}</span><br>
					</div>


				</div>

				<hr>
				<div class="row">

					<div class="col-lg-6 col-md-12">
						<div>
							<fieldset>
								<legend>Metadane</legend>

									<form name="documentForm" role="form">
										<section ng-controller="CreateTemplateController" ng-init="getFieldTypes(); templateMode = editMode; form = document">
											<ul class="list-unstyled sortable-list form-horizontal"
											ng-if="templateCreatorMode"
											ui-sortable=""
											ng-model="document.metaFields">
												<li ng-repeat="field in document.metaFields" class="sortable-item padding-10-0"  ng-mouseover="isActive = true" ng-mouseleave="isActive = false">
													<span ng-show="isActive" class="sortable-handler">
														<i class="fa fa-ellipsis-v"></i>
														<i class="fa fa-ellipsis-v"></i>
													</span>
													<field-directive></field-directive>
												</li>
											</ul>



											<div class="form-horizontal"
											ng-if="!templateCreatorMode"
											ng-repeat="field in document.metaFields">
												<field-directive></field-directive>


											</div>

											<div class="row" ng-if="templateCreatorMode" ng-show="readyToShow">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-inline text-center padding-25-0">
														<div class="form-group">
															<label class="sr-only" for="exampleInputEmail2">{{t('Field_Type')}}</label>
															<select ng-model="selectedType" class="form-control" ng-options="type as type.label group by type.classLabel for type in fieldTypes"></select>
														</div>
														<button type="button" class="btn btn-info" ng-click="addNewField(document.metaFields, selectedType)"><i class="fa fa-plus"></i> {{t('Add_Field')}}</button>

													</div>
												</div>
											</div>
										</section>
									</form>



								<hr class="simple">

								<div class="form-horizontal">
									<div class="form-group ng-scope">
										<label class="col-sm-2 control-label">
											Status dokumentu
										</label>

										<div class="col-sm-3">

											<!-- ng-options="o as o for o in field.options" -->
											<!-- <select class="form-control" ng-model="document.status" sng-required="true"> -->
											<select class="form-control">
												<option value="0" selected="selected">Nowy</option>
												<option value="1" >W toku</option>
												<option value="2">Zatwierdzony</option>
												<option value="3" >Zablokowany</option>
												<option value="4">Zakończony</option>
												<option value="5">Zakończony i zablokowany</option>
											</select>
										</div>
									</div>
								</div>





							</fieldset>
						</div>
					</div>

					<div class="col-lg-6 col-md-12">
						<div class="form-horizontal">
							<fieldset>
								<legend>Załączniki</legend>


									<section ng-controller="UploaderController" ng-file-drop>

										<div class="row">
											<div class="col-md-12">

												<label for="importFile" class="drag-drop-wrapper">
													<div class="drag-drop-inner text-center margin-bottom-20">

														<h2 class="margin-bottom-0">Przeciągnij i upuść</h2>

														<p class="muted">albo</p>

														<span class="btn btn-default">Wybierz plik</span>

														<div class="clearfix"></div>

														<input id="importFile" type="file" class="hide" ng-file-select  multiple>
													</div>
												</label>

											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<div class="table-responsive">
													<table class="table table-hover" ng-show="uploader.queue.length">
														<thead>
															<tr>
																<th width="50%">Name</th>
																<th ng-show="uploader.isHTML5">Size</th>
																<th ng-show="uploader.isHTML5">Progress</th>
																<th>Status</th>
																<th>Actions</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="item in uploader.queue">
																<td><strong>{{ item.file.name }}</strong></td>
																<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
																<td ng-show="uploader.isHTML5">
																	<div class="progress" style="margin-bottom: 0;">
																		<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
																	</div>
																</td>
																<td class="text-center">
																	<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
																	<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
																	<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
																</td>
																<td nowrap>
																	<button type="button" class="btn btn-success btn-xs" ng-click="item.reUpload(item)" ng-disabled="item.isReady || item.isUploading">
																		<span class="glyphicon glyphicon-upload"></span> Re-upload
																	</button>
																	<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
																		<span class="glyphicon glyphicon-ban-circle"></span> Cancel
																	</button>
																	<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
																		<span class="glyphicon glyphicon-trash"></span> Remove
																	</button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>


									</section>

							</fieldset>
						</div>
					</div>
				</div>
				<hr>

				<div class="pull-right">
					<div class="btn-group" data-keep="ND_DOC_CREATE,ND_DOC_UPDATE">
						<button class="btn btn-primary" ng-disabled="!documentForm.$valid" ng-click="saveDocument(document, false)">
							Zapisz
						</button>
						<button class="btn btn-primary dropdown-toggle" ng-disabled="!documentForm.$valid" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="pull-right dropdown-menu">
							<li>
								<a href="javascript:void(0);" ng-click="saveDocument(document, true)" >Zapisz i zamknij</a>
							</li>
							<li>
								<a href="javascript:void(0);">Zapisz i udostępnij</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>


			</div>
		</div> <!-- /jarviswidget -->

		<div class="jarviswidget well" ng-if="document.versions">
			<div class="widget-body">

				<tabset>
					<tab disabled="true">
						<tab-heading><i class="fa fa-fw fa-lg fa-info"></i> Aktywność</tab-heading>

					</tab>
					<!-- TODO: remove active attr -->
					<tab ng-if="document.version" active="readyToShow">
						<tab-heading>
							<i class="fa fa-fw fa-lg fa-repeat"></i> Historia
						</tab-heading>


						<table class="versionList">
							<tr ng-repeat="item in document.versions | orderBy:'version':true" ng-mouseover="isActive = true" ng-mouseleave="isActive = false" ng-click="docPreviewModal(document, item)">
								<td>
									<strong>WERSJA {{item.version}}</strong> została utworzona przez <strong>{{item.author | uppercase}}</strong> dnia {{item.timestamp | date:dateFormat}}
									<button class="btn btn-primary btn-xs" type="button"
									ng-show="isActive"
									data-keep="ND_DOC_UPDATE"
									ng-click="restoreDocumentVersion(document, item); $event.stopPropagation();">Przywróć</button>
								</td>
							</tr>
						</table>
					</tab>


					<tab disabled="true">
						<tab-heading><i class="fa fa-fw fa-lg fa-comments-o"></i> Komentarze <span class="badge bg-color-blue txt-color-white">12</span></tab-heading>
					</tab>
					<tab disabled="true">
						<tab-heading><i class="fa fa-fw fa-lg fa-clock-o"></i> Czas pracy</tab-heading>
					</tab>
					<tab disabled="true">
						<tab-heading><i class="fa fa-fw fa-lg fa-unlock-alt"></i> Dostęp</tab-heading>
					</tab>
				</tabset>
			</div>
		</div>

	</div>
</section>
