<div ng-class="{documentListContainer: documents.length}" ng-controller="DocumentController" ng-init="getDocuments()">
	<div class="row"  ng-if="documents.length">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark">
				<i class="glyphicon glyphicon-list-alt"></i>
				Lista dokumentów
				<span>>
					Moje dokumenty
				</span>
			</h1>
		</div>
	</div>
	<section id="widget-grid" ng-if="documents.length">

		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">




				<div class="jarviswidget jarviswidget-color-blueDark">
					<header>
						<span class="widget-icon"> <i class="fa fa-inbox"></i> </span>
						<h2>Lista dokumentów</h2>
						<div class="pull-right">
							<a class="" href="#document/create"><i class="addButton fa fa-lg fa-plus" tooltip-html-unsafe="Utwórz nowy dokument" tooltip-placement="left"></i></a>
						</div>
					</header>

					<div class="widget-body">
						<div class="table-responsive">
							<table ng-table="docsTable" class="table table-hover">
								<tbody>
									<tr ng-repeat="document in $data" ng-click="editDocument(document)">
										<td width="5%" data-title="'Ikona'" sortable="'icon'" class="text-center"><i class="fa fa-bolt fa-lg"></i></td> <!--  {{document.icon}} -->
										<td width="20%" data-title="'Nazwa dokumentu'" sortable="'name'">{{ document.name }}</td>
										<td width="20%" data-title="'Opis dokumentu'" sortable="'description'">{{ document.description }}</td>
										<td width="20%" data-title="'Email(etykiety??)'" sortable="'tags'">{{ document.email }}</td>
										<td width="10%" data-title="'Szablon'" sortable="'template'">{{ document.templateName}}</td>
										<td width="5%" data-title="'Załącznik'" sortable="'attachment'" class="text-center"><i class="fa fa-check"></i></td>
										<td width="10%" data-title="'Data modyfikacji'" sortable="'timestamp'">{{ document.versions[0].timestamp | date:dateFormat}}</td>	<!-- FIXME when timestamp is not null -->
										<td width="10%">
											<div class="pull-right">
												<button type="button" class="close x-button" ng-click="removeDocumentModal(document); $event.stopPropagation();">×</button>
												<button type="button" class="close x-button" ng-click="editDocument(document); $event.stopPropagation()"><i class="fa fa-edit"></i></a>
												<button type="button" class="close x-button"  ng-click="removeDocumentModal(document)" style="margin-top: -2px;"><i class="fa fa-cloud-upload"></i></button>
												<button type="button" class="close infoColor" ng-click="updateDocumentToNewestTemplateModal(document)" style="margin-top: -2px;">
													<i class="fa fa-exclamation-triangle" tooltip-html-unsafe="Aktualizuj dokument do najnowszej wersji szablonu" tooltip-placement="top"></i>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>


				</div>


			</div>
		</div>
	</section>
	<div ng-if="!documents.length">
		<div class="text-align-center alert alert-info">
			<p><strong>Brak dostępnych dokumentów.</strong> <br>Aby dodać dokument, kliknij <a href="#document/create" title="Dodaj dokument" class="capitalize">tutaj</a></p>
		</div>
	</div>
</div>
