<form class="neo-form"
			neo-validate="vm.formValidators">

	<fieldset>
		<h1 class="text-center">{{'Registration'|translate}}</h1>
	</fieldset>

	<fieldset>
		<section class="form-group" ng-show="vm.registrationError">
			<p class="alert alert-danger" ng-model="formError">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{vm.registrationError}}
			</p>
		</section>

		<section class="form-group">
			<input type="email"
						 name="email"
						 data-fv-notempty="true"
						 data-fv-emailaddress="true"
						 class="form-control"
						 placeholder="{{'Email'|translate}}"
						 ng-model="vm.user.email">
		</section>

		<section class="form-group">
			<input type="password"
						 class="form-control"
						 name="password"
						 data-fv-notempty="true"
						 placeholder="{{'Password'|translate}}"
						 ng-model="vm.user.password">
		</section>

		<section class="form-group">
			<input type="password"
						 class="form-control"
						 name="repassword"
						 data-fv-notempty="true"
						 placeholder="{{'Repeat password'|translate}}"
						 ng-model="vm.user.repassword">
		</section>

		<section class="form-group">
			<input type="checkbox"
						 data-fv-notempty="true"
						 ng-model="vm.model.acceptTermsOfService"
						 name="acceptTermsOfService">
			{{'I agree to the terms and policy'|translate}}
		</section>
	</fieldset>

	<footer>
		<button type="submit"
						class="btn btn-primary"
						ng-click="vm.register()">
			{{'Register'|translate}}
		</button>

		<button class="btn btn-default pull-left"
						ui-sref="auth.login">
			{{'Log in'|translate}}
		</button>
	</footer>
</form>
