<form class="neo-form form-horizontal"
			neo-validate="vm.formValidators">

	<fieldset>
		<h1 class="text-center">{{'Reset password'|translate}}</h1>
	</fieldset>

	<fieldset>
		<section class="form-group" ng-show="vm.formError">
			<p class="alert alert-danger" ng-model="formError">
				<button type="button" class="close" ng-click="vm.formError = false">&times;</button>
				{{vm.errorMsg}}
			</p>
		</section>
		<section class="form-group" ng-show="vm.formSuccess">
			<p class="alert alert-success" ng-model="formError">
				<button type="button" class="close" ng-click="vm.formSuccess = false">&times;</button>
				<strong>{{'Success!'|translate}}</strong>
				{{'The password reset link has been sent to the provided email. Check your inbox and follow the instructions from the email. If there is nothing new in your inbox, please remember to check the spam folder.'|translate}}
			</p>
		</section>

		<section class="form-group">
			<label class="col-md-2 control-label">{{'Email'|translate}}</label>
			<div class="col-md-10">
				<input type="text" name="email" ng-model="vm.email" class="form-control">
			</div>
		</section>
		<div class="note padding-top-10">
			{{'Please provide an email address to which the password reset link will be sent.'|translate}}
		</div>
	</fieldset>

	<footer>
		<button type="submit" class="btn btn-primary" ng-click="vm.reset()">>
			{{'Reset'|translate}}
		</button>
	</footer>
</form>
