<form class="neo-form"
			neo-validate>

	<fieldset>
		<h1 class="text-center">{{'Reset password'|translate}}</h1>
	</fieldset>

	<fieldset>
		<section class="form-group" ng-if="vm.formError">
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{vm.formError}}
			</div>
		</section>

		<section class="form-group"
						 ng-if="vm.formSuccess">
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{'The password reset link has been sent to the provided email. Check your inbox and follow the instructions from the email.'|translate}}
				{{'If there is nothing new in your inbox, please remember to check the spam folder.'|translate}}
			</div>
		</section>

		<section class="form-group">
			<input type="email"
						 name="email"
						 data-fv-notempty="true"
						 data-fv-emailaddress="true"
						 ng-model="vm.user.email"
						 class="form-control">
		</section>

		<div class="note padding-top-10">
			{{'Please provide an email address to which the password reset link will be sent.'|translate}}
		</div>
	</fieldset>

	<footer>
		<button type="button"
						class="btn btn-primary"
						ng-click="vm.reset()">
			{{'Reset'|translate}}
		</button>
	</footer>
</form>
