<div role="main" ng-controller="ResetPasswordController">

	<!-- MAIN CONTENT -->
	<div id="content" class="container">
		<div class="row" style="margin: 100px 0 50px 0">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="text-center">
					<img ng-src="images/logo-{{ APP_NAME | lowercase }}.png"
							 alt="{{ APP_NAME|translate}} logo">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div
					class="text-center">
					<h1 class="font-xxl">{{'New password'|translate}}</h1>
				</div>
				<div class="well no-padding">
					<form ng-submit="resetFinish(user)" name="form" class="smart-form client-form" novalidate>
						<fieldset ng-show="!submitted">
							<section ng-show="formError">
								<p class="alert alert-danger" ng-model="formError">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									{{error}}
								</p>
							</section>
							<section>
								<label class="input" ng-class="{
											'state-error' : !form.password.$pristine && form.password.$invalid,
											'state-success': !form.password.$pristine && form.password.$valid
										}"> <i class="icon-append fa fa-lock"></i>
									<input type="password" name="password" placeholder="{{'New password'|translate}}"
												 id="password"
												 ng-minlength="6"
												 ng-model="user.password" required>
									<b class="tooltip tooltip-bottom-right">{{'Your new password'|translate}}</b>
								</label>
								<em ng-show="!form.password.$pristine && form.password.$error.minlength"
										for="password" class="invalid">
									{{'Password must have at least 6 characters'|translate}}</em>
							</section>

							<section>
								<label class="input" ng-class="{
											'state-error' : !form.passwordConfirm.$pristine && form.passwordConfirm.$error.dontMatch,
											'state-success': !form.passwordConfirm.$pristine && !form.passwordConfirm.$error.dontMatch
										}"> <i class="icon-append fa fa-lock"></i>
									<input type="password" name="passwordConfirm"
												 placeholder="{{'Confirm password'|translate}}"
												 ng-model="user.passwordConfirm" ng-change="checkPassword()" required>
									<b class="tooltip tooltip-bottom-right">{{'Confirm your new
										password'|translate}}</b> </label>
								<em
									ng-show="!form.passwordConfirm.$pristine && form.passwordConfirm.$error.dontMatch"
									for="password"
									class="invalid">{{'Passwords do not match'|translate}}</em>
							</section>
						</fieldset>
						<footer>
							<button type="submit" class="btn btn-primary" ng-disabled="isPending()">
								{{'Change'|translate}} <i class="fa fa-spinner fa-spin" ng-show="spinner"></i>
							</button>
						</footer>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>
