<section ng-controller="CreateComplexController" ng-init="initComplex()">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well" ng-show="readyToShow">
				<div class="form-fields">
					<div class="row">

						<div class="col-xs-8 col-sm-9 col-md-10 col-lg-10 form-properties">
							<div class="form-group form-template">
								<input type="text" name="form-name" ng-model="form.fieldName"
											 class="form-title form-control">
								<textarea rows="1" type="text" name="form-description"
													ng-model="form.fieldDescription" placeholder="Opis pola złożonego"
													class="form-description form-control"></textarea>
							</div>
						</div>
					</div>

					<hr>

					<ng-form name="documentForm" class="form-horizontal" role="form">
						<ul ui-sortable="" ng-model="form.composite" class="list-unstyled sortable-list">
							<li ng-repeat="field in form.composite" class="sortable-item padding-10-0"
									ng-mouseover="isActive = true" ng-mouseleave="isActive = false">
								<i ng-show="isActive" class="fa fa-bars icon-muted-hover sortable-handler"></i>
								<field-directive></field-directive>

							</li>
						</ul>
					</ng-form>

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-inline text-center padding-25-0">
								<div class="form-group">
									<label class="sr-only">{{t('Field_Type')}}</label>
									<select ng-model="selectedType" class="form-control"
													ng-options="type as type.label for type in addField.types"></select>
								</div>
								<button type="button" class="btn btn-info ng-binding"
												ng-click="addNewField(form.composite, selectedType)"><i
									class="fa fa-plus"></i> {{t('Add_Field')}}
								</button>

							</div>
						</div>
					</div>

					<hr>

					<div class="pull-right">
						<!-- data-keep="ND_DOC_TPL_CREATE,ND_DOC_TPL_UPDATE" -->
						<div class="">
							<button class="btn btn-primary" ng-click="saveComplexField(form)"
											ng-disabled="form.composite.length == 0">Zapisz
							</button>
						</div>
					</div>
					<div class="clearfix"></div>
					<pre>{{ form | json }}</pre>
				</div>
			</div>


		</div>
	</div>
</section>
