<div ng-class="{templateListContainer: documentTemplates.length}"
		 ng-controller="TemplateListController" ng-init="getTemplates()">
	<div class="row" ng-if="documentTemplates.length">
		<div class="col-xs-12">
			<h1 class="page-title txt-color-blueDark">
				<i class="glyphicon glyphicon-list-alt"></i>
				Lista szablonów
				<span>>
					Moje szablony
				</span>
			</h1>
		</div>
	</div>
	<section id="widget-grid" ng-if="documentTemplates.length">

		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


				<div class="jarviswidget jarviswidget-color-blueDark">
					<header>
						<span class="widget-icon"> <i class="fa fa-inbox"></i> </span>

						<h2>Lista szablonów</h2>

						<div class="pull-right">
							<a class="" href="#template/create"><i class="addButton fa fa-lg fa-plus"
																										 tooltip-html-unsafe="Utwórz nowy szablon"
																										 tooltip-placement="left"></i></a>
						</div>
					</header>

					<div class="widget-body">
						<div class="table-responsive custom-table-responsive">
							<table ng-table="templatesTable" class="table table-hover neodoc-table">
								<tbody>
								<tr ng-repeat="template in $data" ng-click="editTemplate(template)">
									<td class="col-width-70px" data-title="'Ikona'" sortable="'icon'"
											class="text-center"><i class="fa {{template.icon}} fa-lg"></i></td>
									<td class="col-min-width-200px" data-title="'Nazwa szablonu'" sortable="'name'">{{
										template.name }}
									</td>
									<td class="col-min-width-200px" data-title="'Opis szablonu'"
											sortable="'description'">{{ template.description }}
									</td>
									<td class="col-width-135px" data-title="'Data modyfikacji'"
											sortable="'timestamp'">{{ template.timestamp | date:dateFormat}}
									</td>
									<td class="col-width-70px">
										<div class="pull-right">
											<div class="">
												<button type="button" class="close x-button" data-keep="ND_DOC_TPL_DELETE"
																ng-click="removeTemplateModal(template); $event.stopPropagation()">×
												</button>
												<button type="button" class="close x-button" data-keep="ND_DOC_TPL_UPDATE"
																ng-click="editTemplate(template); $event.stopPropagation()"><i
													class="fa fa-edit"></i></button>
											</div>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>


				</div>


			</div>
		</div>
	</section>
	<div ng-if="!documentTemplates.length">
		<div class="text-align-center alert alert-info">
			<p><strong>Brak dostępnych szablonów.</strong> <br>
				<span data-keep="ND_DOC_TPL_CREATE">Aby dodać szablon, kliknij <a href="#template/create"
																																					title="Dodaj dokument"
																																					class="capitalize">tutaj</a><span>
			</p>
		</div>
	</div>
</div>
