<section ng-controller="CreateTemplateController" ng-init="initTemplate()">


	<div class="row">
		<div class="col-md-8 col-md-offset-2">


			<div class="well">
				<div class="form-fields" ng-hide="previewMode">


					<div class="row">

						<div class="col-sm-1 text-center">
							

							<div><i class="fa {{form.icon}} fa-5x"></i></div>
							<div class="text-center">
								<i class="fa fa-caret-left fa-3x margin-lr-5 unselectable" ng-class="{'disabledArrow': disableLeftArrow}" ng-click="switchIcon(-1)"></i>
								<i class="fa fa-caret-right fa-3x margin-lr-5 unselectable" ng-class="{'disabledArrow': disableRightArrow}" ng-click="switchIcon(1)"></i>
							</div>

						</div>

						<div class="col-sm-10 form-properties">

							<div class="form-group form-template">
								<input type="text" name="form-name" ng-model="form.name" class="form-title form-control">
								<textarea rows="1" type="text" name="form-description" ng-model="form.description" placeholder="Opis szablonu" class="form-description form-control"></textarea>
							</div>

						</div>
					</div>

					<hr>


					<ng-form name="documentForm" class="form-horizontal" role="form">
						<div ng-repeat="field in form.metaFields">
							<field-directive field="field" meta-fields="form.metaFields"></field-directive>

						</div>
					</ng-form>


					<div class="row">
						<div class="col-sm-4 col-centered">
							<div class="form-inline padding-25-0">

								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail2">{{t('Field_Type')}}</label>
									<select ng-model="selectedType" class="form-control" ng-options="type as type.label for type in addField.types"></select>
								</div>

								<button type="button" class="btn btn-info ng-binding" ng-click="addNewField()"><i class="fa fa-plus"></i>  {{t('Add_Field')}}</button>

							</div>
						</div>
					</div>




					<hr>


					<div class="pull-left">
						<!-- Template version is hidden in template creation mode -->
						<a ng-show="!showVersionHistory && form.version" ng-click="showVersionHistory = true">Wersja {{form.version}}</a>
						<a ng-show="showVersionHistory" ng-click="showVersionHistory = false">Wersja {{form.version}}</a>
					</div>
					<div class="pull-right">

						<button class="btn btn-default right" type="button" ng-click="saveTemplateAndContinue()" ng-disabled="form.metaFields.length == 0"> Zapisz i kontynuuj edycję</button>
						<button class="btn btn-primary right" type="button" ng-click="saveTemplate(form)" ng-disabled="form.metaFields.length == 0"> Zapisz</button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>




			<div ng-show="showVersionHistory">
				<h4>{{t('Version_history_template')}}:</h4>
				<div class="well">
					<table class="versionList">
						<tr ng-repeat="item in form.versions | orderBy:'version':true" ng-mouseover="isActive = true" ng-mouseleave="isActive = false" ng-click="editTemplate(form, item)">
							<td>
								<strong>WERSJA {{item.version}}</strong> została utworzona przez <strong>{{item.author | uppercase}}</strong> dnia {{item.timestamp | date:'dd-MM-yyyy'}}
								<button ng-show="isActive" class="btn btn-primary btn-xs" ng-click="restoreVersionModal(form, item); $event.stopPropagation();">Przywróć</button>
							</td>
						</tr>


					</table>


				</div>

			</div>


		</div>


	</div>

</section>
