<div ng-class="{templateListContainer: documentTemplates.length}" ng-controller="TemplateListController" ng-init="getTemplates()">
	<div class="row"  ng-if="documentTemplates.length">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark">
				<i class="glyphicon glyphicon-list-alt"></i>
				Lista szablonów
				<span>>
					Moje szablony
				</span>
			</h1>
		</div>
	</div>
	<section id="widget-grid" ng-if="documentTemplates.length">

		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">




				<div class="jarviswidget jarviswidget-color-blueDark">
					<header>
						<span class="widget-icon"> <i class="fa fa-inbox"></i> </span>
						<h2>Lista szablonów</h2>
						<div class="pull-right">
							<a class="" href="#template/create" ui-tooltip="{title: t('Add_template')}"><i class="addButton fa fa-lg fa-plus"></i></a>
						</div>
					</header>

					<div class="widget-body">
						<div class="table-responsive">
							<table ng-table="templatesTable" class="table table-hover">
								<tbody>
									<tr ng-repeat="template in $data" ng-click="editTemplate(template)">
										<td width="5%" data-title="'Ikona'" sortable="'icon'" class="text-center"><i class="fa {{template.icon}} fa-lg"></i></td>
										<td width="30%" data-title="'Nazwa szablonu'" sortable="'name'">{{ template.name }}</td>
										<td width="44%" data-title="'Opis szablonu'" sortable="'description'">{{ template.description }}</td>
										<td width="15%" data-title="'Data modyfikacji'" sortable="'timestamp'">{{ template.timestamp | date:dateFormat}}</td>
										<td width="6%">
											<div class="pull-right">
<!-- 	Buttony obecnie nieużywane					<div class="btn-group">
													<button type="button" class="btn btn-default" ng-click="displayTemplate(template)">Podgląd</button>
													<button type="button" class="btn btn-default" ng-click="shareModal(template)">Udostępnij</button>
												</div> -->
<!-- 													<div class="btn-group">
	<a type="button" class="btn btn-info" href="#/template/edit-template/{{template.id}}" ng-click="$event.stopPropagation();">Edytuj</a>
	<button type="button" class="btn btn-danger" ng-click="removeTemplateModal(template)">Usuń</button>
</div> -->
												<div class="">
													<button type="button" class="close x-button" ng-click="removeTemplateModal(template); $event.stopPropagation()">×</button>
													<button type="button" class="close x-button" ng-click="editTemplate(template); $event.stopPropagation()"><i class="fa fa-edit"></i></a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>


				</div>


			</div>
		</div>
	</section>
	<div ng-if="!documentTemplates.length">
		<div class="text-align-center alert alert-info">
			<p><strong>Brak dostępnych szablonów.</strong> <br>Aby dodać szablon, kliknij <a href="#template/create" title="Dodaj dokument" class="capitalize">tutaj</a></p>
		</div>
	</div>
</div>
