
<div class="form-group">
	<label class="col-md-2 control-label">
		<span ng-show="field.required" class="text-danger">* </span>
	</label>
	<div class="col-md-9">
		<div class="checkbox">
			<label>
				<input type="checkbox" id="{{field.id}}"
					ng-model="field.value"
					ng-required="field.required"
					ng-checked="{{field.value}}">
				{{field.fieldName}}
			</label>
		</div>
	</div>

	<div>
		<div class="icon-on-hover pull-right">
			<button type="button" class="close pull-left" ng-click="editModal(field)"><i class="fa fa-edit"></i></button>
			<button type="button" class="close pull-left" ng-click="removeField(field, form.metaFields)">&times;</button>
		</div>
	</div>
</div>
