<div class="form-group">

	<label class="col-sm-2 control-label ng-binding">
		<span ng-show="field.required" class="text-danger">* </span>
		{{field.fieldName}}
	</label>

	<div class="col-sm-3">
		<div class="input-group">
			<span class="input-group">
				<input type="text" class="form-control"
				datepicker-popup="" ng-model="field.value" datepicker-options="dateOptions" ng-required="field.required"
				close-text="Zamknij" current-text="Dziś" toggle-weeks-text="Tygodnie" clear-text="Wyczyść">
				<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			</span>
		</div>
	</div>


	<div>
		<div class="icon-on-hover pull-right" ng-if="templateMode">
			<button type="button" class="close pull-left" ng-click="editModal(field)"><i class="fa fa-edit"></i></button>
			<button type="button" class="close pull-left" ng-click="removeField(field, form.metaFields)">&times;</button>
		</div>
	</div>

</div>
