<div class="form-group">

	<label class="col-sm-2 control-label ng-binding">
		<span ng-show="field.required" class="text-danger">* </span>
		{{field.fieldName}}
	</label>

	<div class="col-sm-2">
		<div class="input-group">
			<p class="input-group">
				<input type="text" class="form-control" ng-model="field.value" ng-required="field.required" close-text="Close">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>


	<div class="col-sm-1 col-sm-offset-7">
		<div class="icon-on-hover">
			<button type="button" class="close pull-left" ng-click="editModal(field)"><i class="fa fa-edit"></i></button>
			<button type="button" class="close pull-left" ng-click="removeField(field, form.metaFields)">&times;</button>
		</div>
	</div>

</div>
