<div class="form-group">

	<label class="col-md-2 control-label">
		<span ng-show="field.required" class="text-danger" for="select-{{ field.id }}">* </span>
		{{ field.fieldName }}
	</label>

	<div class="col-md-9">

		<select class="form-control" id="select-{{ field.id }}" ng-model="field.value" ng-options="o as o for o in field.options"
			sng-required="field.required"></select>

	</div>


	<div class="col-sm-1">
		<div class="icon-on-hover">
			<button type="button" class="close pull-left" ng-click="editModal(field)"><i class="fa fa-edit"></i></button>
			<button type="button" class="close pull-left" ng-click="removeField(field)">&times;</button>
		</div>
	</div>

</div>
