<div class="form-group">
	<label class="col-md-2 control-label">
		<span ng-show="field.required" class="text-danger">* </span>
		{{field.fieldName}}
	</label>

	<div class="col-sm-9">
		<div ng-repeat="option in field.options track by $index">
			<div class="radio">
				<label>
					<input type="radio" name="radio-{{field.id}}" ng-model="field.value" value="{{ option }}" ng-required="field.required">
					{{ option }}
				</label>
			</div>
		</div>
	</div>
	<div class="col-sm-1">
		<div class="icon-on-hover">
			<button type="button" class="close pull-left" ng-click="editModal(field)"><i class="fa fa-edit"></i></button>
			<button type="button" class="close pull-left" ng-click="removeField(field, form.metaFields)">&times;</button>
		</div>
	</div>
</div>
