<div class="form-group">
	<label class="col-md-2 control-label">
		<span ng-show="field.required" class="text-danger">* </span>
		{{field.fieldName}}
	</label>

	<div class="col-sm-9">
		<div ng-class="{'input-icon-right': field.fieldDescription}">
			<i class="fa fa-info-circle"
				ng-if="field.fieldDescription"
				tooltip-html-unsafe="{{ field.fieldDescription }}"
				tooltip-placement="left"></i>

			<textarea class="form-control" ng-model="field.value" ng-required="field.required"></textarea>

		</div>
	</div>

	<div>
		<div class="icon-on-hover pull-right" ng-if="templateMode">
			<button type="button" class="close pull-left" ng-click="editModal(field)"><i class="fa fa-edit"></i></button>
			<button type="button" class="close pull-left" ng-click="removeField(field, form.metaFields)">&times;</button>
		</div>
	</div>
</div>
