/*
 * HEADER NAV DROPDOWN LIST
 */

.header-dropdown-list {
	list-style: none;
	float: right;
	position: relative;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	& > li {

		display: inline-block;
		padding-right: 5px;

		& > .dropdown-toggle {

			margin-top: 16px;
			display: block;
		}
	}
}
