<tr>
	<th ng-repeat="$column in $columns"
			ng-click="sortBy($column, $event)" ng-show="$column.show(this)"
			ng-init="template=$column.headerTemplateURL(this)"
			class="no-selection {{$column.class(this)}}"
			ng-class="{
				'sorting': $column.sortable(this),
				'sorting-asc': params.sorting()[$column.sortable(this)]=='asc',
				'sorting-desc': params.sorting()[$column.sortable(this)]=='desc'}">

		<div ng-if="!template"
				 ng-show="!template"
				 class="neo-table-header">
			{{$column.title(this)}}
		</div>

		<div ng-if="template" ng-show="template" ng-include="template"></div>
	</th>
</tr>


<tr>
	<th ng-repeat="$column in $columns"
			ng-show="$column.show(this)"
			class="neo-table-filter hasinput">
		<div ng-repeat="(name, filter) in $column.filter(this)">

			<div ng-if="filter.indexOf('/') !== -1"
					 ng-include="filter">
			</div>

			<div ng-if="filter.indexOf('/') === -1"
					 ng-include="'ng-table/filters/' + filter + '.html'">
			</div>
		</div>
	</th>
</tr>
