<div class="form-group">
	<label class="col-xs-3 col-sm-2 col-md-2 col-lg-2 control-label">
		<span ng-show="field.required" class="text-danger">* </span>
		{{field.fieldName}}
	</label>

	<div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
		<div ng-class="{'input-icon-right': field.fieldDescription}">

			<i class="fa fa-info-circle"
				 ng-if="field.fieldDescription"
				 tooltip-html-unsafe="{{ field.fieldDescription }}"
				 tooltip-placement="left"></i>
			<input type="text" class="form-control"
						 ng-model="field.value"
						 ng-required="field.required"
						 ng-pattern="isValidationPattern(field.validationPattern)">

		</div>
	</div>

	<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
		<div class="icon-on-hover pull-right" ng-if="templateMode && field.fieldTypeName">
			<button type="button" class="close pull-left" ng-click="editModal(field)"><i
				class="fa fa-edit"></i></button>
			<button type="button" class="close pull-left"
							ng-click="removeField(field, form.metaFields, form.composite)">&times;</button>
		</div>
	</div>
</div>
