<div class="project-context hidden-xs dropdown">

	<span class="label">{{'Profiles'|translate}}:</span>
	<span class="project-selector dropdown-toggle">
		<span ng-bind="currentProfile.data.customerName"></span>
		<i ng-show="profiles.length" class="fa fa-angle-down"></i>
	</span>

	<ul class="dropdown-menu" ng-show="profiles.length">
		<li ng-repeat="profile in profiles">
			<a ng-click="changeProfile(profile)">
				<i ng-show="profile.id === currentProfile.data.id" class="fa fa-hand-o-right"></i>
				<span ng-bind="profile.customerName"></span>
			</a>
		</li>
	</ul>

</div>
