<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

	<title> SmartAdmin </title>
	<meta name="description" content="">
	<meta name="author" content="">

		<!-- Use the correct meta names below for your web application
			 Ref: http://davidbcalhoun.com/2010/viewport-metatag

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">-->

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,latin-ext">

		<link rel="stylesheet" href="css/bootstrap-custom.css">
		<link rel="stylesheet" href="css/smartadmin-production.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/xeditable.css">
		<link rel="stylesheet" href="css/mockup-styles.css">



	</head>
	<body class="">
		<!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel" class="ng-scope" style="min-height: 1114px;">
			<!-- User info -->
			<div class="login-info">

				<span class="user-data">
					<img src="images/male.png" alt="me" class="offline">
					<a href="#/account" class="ng-binding">admin@neoteric.eu</a>
				</span>
			</div>

			<nav>
				<ul>
					<li ng-repeat="item in menu" class="ng-scope">
						<a href="szablon.html" title="Utwórz nowy szablon">
							<i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent ng-binding"> Szablon</span>
						</a>
					</li>
					<li ng-repeat="item in menu" class="ng-scope">
						<a href="document.html" title="Utwórz nowy dokument">
							<i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent ng-binding"> Dokument</span>
						</a>
					</li>
				</ul>
			</nav>
			<span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>
		</aside>
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->
		<div id="main" role="main" class="ng-scope">
			<!-- ng-controller="HeaderController" -->
			<div id="ribbon">
				<span class="ribbon-button-alignment">
					<span ng-click="refreshRoute()" class="btn btn-ribbon" title="refresh"><i class="fa fa-refresh"></i></span>
					<span class="hide-menu hidden-lg hidden-md btn btn-ribbon">  <i class="fa fa-bars fa-lg"></i></span>
				</span>

				<ol class="breadcrumb">

				</ol>
				<div class="ribbon-button-alignment pull-right">
					<ul class="list-inline">
						<li class="dropdown">
							<a class="btn btn-ribbon dropdown-toggle" data-toggle="dropdown" href="#">
								<span class="no-shadow light-color ng-binding">Administratorzy systemu</span>
								<i class="fa fa-angle-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li class="nav-header ng-binding">Dostępne profile</li>
								<!-- ngRepeat: customer in customers --><li ng-repeat="customer in customers" ng-class="{'active current': isCurrentCustomer(customer)}" class="ng-scope active current">
								<!-- ngIf: isCurrentCustomer(customer) --><a ng-if="isCurrentCustomer(customer)" href="" class="ng-scope ng-binding">Administratorzy systemu</a><!-- end ngIf: isCurrentCustomer(customer) -->
								<!-- ngIf: !isCurrentCustomer(customer) -->
							</li><!-- end ngRepeat: customer in customers -->
							<li><a href="" ng-click="logout()" class="ng-binding"><i class="icon-off"></i> Wyloguj</a></li>
						</ul>
					</li>

						<!-- <li class="dropdown">
							<a class="btn btn-ribbon dropdown-toggle" data-toggle="dropdown" href="#">
								<span class="label hidden-phone">{{lang}}</span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="javascript:void(0)" ng-class="{'current': lang == 'pl'}" ng-click="switchLang('pl')"><i class="icon-globe"></i> {{t('Polish')}}</a>
								</li>
								<li>
									<a href="javascript:void(0)" ng-class="{'current': lang == 'en'}" ng-click="switchLang('en')"><i class="icon-globe"></i> {{t('English')}}</a>
								</li>
							</ul>
						</li> -->
					</ul>
				</div>
			</div>

			<div id="content">

				<div ng-hide="mainLoaderVisible" class="">

					<!-- ngView:  -->
					<div ng-view="" class="ng-scope">

						<section ng-controller="CreateTemplateController" ng-init="initTemplate()" class="ng-scope">


							<div class="row">
								<div class="col-md-12">


									<div class="contianer">
										<div class="jarviswidget well" ng-hide="previewMode">
											<div class="widget-body">

												<div class="row">

													<div class="col-xs-1">
														<i class="fa fa-file-text-o fa-4x hidden-xs"></i>
													</div>

													<div class="col-xs-7 col-md-8 form-properties">

														<div class="form-group form-template">
															<span class="form-title no-padding">Zlecenie serwisowe</span><br>
															<span class="form-description muted">Lorem ipsum dolor sit amet senin.</span>

														</div>

													</div>

													<div class="col-xs-4 col-md-3 muted text-right">
														<span>Ostatnia modyfikacja: 24 czerwiec 2014</span><br>
														<span>wersja: 8</span><br>

													</div>
												</div>

												<hr>
												<div class="row">

													<div class="col-lg-6 col-md-12">
														<div class="form-horizontal">
															<fieldset>
																<legend>Metadane</legend>
																<div class="form-group ng-scope">
																	<label class="col-xs-3 control-label ng-binding">
																		<span ng-show="field.required" class="text-danger">* </span>
																		Numer zlecenia
																	</label>

																	<div class="col-xs-9">
																		<div ng-class="{'input-icon-right': field.fieldDescription}" class="input-icon-right">

																			<!-- ngIf: field.fieldDescription --><i class="fa fa-info-circle ng-scope" ng-if="field.fieldDescription" tooltip-html-unsafe="Proszę podać imię bądź pseudonim" tooltip-placement="left"></i><!-- end ngIf: field.fieldDescription -->
																			<input type="text" class="form-control ng-pristine ng-valid-pattern ng-valid ng-valid-required" ng-model="field.value" ng-required="field.required" ng-pattern="isValidationPattern(field.validationPattern)" required="required">

																		</div>
																	</div>
																</div>

																<div class="form-group ng-scope">
																	<label class="col-xs-3 control-label ng-binding">
																		<span ng-show="field.required" class="text-danger">* </span>
																		Zleceniodawca
																	</label>

																	<div class="col-xs-9">
																		<div ng-class="{'input-icon-right': field.fieldDescription}" class="input-icon-right">


																			<input type="text" class="form-control ng-pristine ng-valid-pattern ng-valid ng-valid-required" ng-model="field.value" ng-required="field.required" ng-pattern="isValidationPattern(field.validationPattern)" required="required">

																		</div>
																	</div>
																</div>
																<div class="form-group ng-scope">
																	<label class="col-xs-3 control-label ng-binding">
																		Płeć
																	</label>

																	<div class="col-xs-9">
																		<div ng-repeat="option in field.options track by $index" class="ng-scope">
																			<div class="radio">
																				<label class="ng-binding">
																					<input type="radio" name="radio-5391bdd6e4b0a63ec6396f1c" ng-model="field.value" value="Mężczyzna" ng-required="field.required" class="ng-pristine ng-valid ng-valid-required" required="required">
																					Mężczyzna
																				</label>
																			</div>
																		</div><!-- end ngRepeat: option in field.options track by $index -->
																		<div ng-repeat="option in field.options track by $index" class="ng-scope">
																			<div class="radio">
																				<label class="ng-binding">
																					<input type="radio" name="radio-5391bdd6e4b0a63ec6396f1c" ng-model="field.value" value="Kobieta" ng-required="field.required" class="ng-pristine ng-valid ng-valid-required" required="required">
																					Kobieta
																				</label>
																			</div>
																		</div>
																	</div>
																</div>


																<div class="form-group ng-scope">
																	<label class="col-xs-3 control-label ng-binding">
																		Date
																	</label>

																	<div class="col-xs-3">
																		<div class="input-group">
																			<input type="text" class="form-control">
																			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
																		</div>
																	</div>
																</div>

																<div class="form-group ng-scope">
																	<label class="col-xs-3 control-label ng-binding">

																	</label>

																	<div class="col-xs-9">
																		<div class="checkbox">
																			<label class="ng-binding">
																				<input type="checkbox" id="5391bdd6e4b0a63ec6396f1d" ng-model="field.value" ng-required="field.required" ng-checked="true" class="ng-pristine ng-valid ng-valid-required" checked="checked">
																				Akceptujesz regulamin?
																			</label>
																		</div>
																	</div>
																</div>






																<hr class="simple">

																<div class="form-group ng-scope">
																	<label class="col-xs-3 control-label ng-binding">
																		Status dokumentu
																	</label>

																	<div class="col-xs-9">
																		<div ng-class="{'input-icon-right': field.fieldDescription}" class="input-icon-right">

																			<select class="form-control ng-pristine ng-valid" id="select-5391bdd6e4b0a63ec6396f1a" ng-model="field.value" ng-options="o as o for o in field.options" sng-required="field.required">
																				<option value="0">Nowy</option>
																				<option value="1" >W toku</option>
																				<option value="2">Zatwierdzony</option>
																				<option value="3" selected="selected">Zablokowany</option>
																				<option value="4">Zakończony</option>
																				<option value="5">Zakończony i zablokowany</option>
																			</select>
																		</div>
																	</div>
																</div>



															</fieldset>

														</div>
													</div>


													<div class="col-lg-6 col-md-12">
														<fieldset>
															<legend>Załączniki</legend>
														</fieldset>
														<div class="table-responsive">

															<table class="table table-hover" ng-show="uploader.queue.length">
																<thead>
																	<tr>
																		<th width="50%">Name</th>
																		<th ng-show="uploader.isHTML5" class="">Size</th>
																		<th ng-show="uploader.isHTML5" class="">Progress</th>
																		<th>Status</th>
																		<th>Actions</th>
																	</tr>
																</thead>
																<tbody>
																	<!-- ngRepeat: item in uploader.queue --><tr ng-repeat="item in uploader.queue" class="ng-scope">
																		<td><strong class="ng-binding">CreateDocumentController.js</strong></td>
																		<td ng-show="uploader.isHTML5" nowrap="" class="ng-binding">0.00 MB</td>
																		<td ng-show="uploader.isHTML5" class="">
																			<div class="progress" style="margin-bottom: 0;">
																				<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 100%;"></div>
																			</div>
																		</td>
																		<td class="text-center">
																			<span ng-show="item.isSuccess" class="ng-hide"><i class="glyphicon glyphicon-ok"></i></span>


																		</td>
																		<td nowrap="">
																			<button type="button" class="btn btn-success btn-xs" ng-click="item.reUpload(item)" ng-disabled="item.isReady || item.isUploading">
																				<span class="glyphicon glyphicon-upload"></span> Re-upload
																			</button>
																			<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading" disabled="disabled">
																				<span class="glyphicon glyphicon-ban-circle"></span> Cancel
																			</button>
																			<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
																				<span class="glyphicon glyphicon-trash"></span> Remove
																			</button>
																		</td>
																	</tr><!-- end ngRepeat: item in uploader.queue --><tr ng-repeat="item in uploader.queue" class="ng-scope">
																		<td><strong class="ng-binding">favatkorekta (1).pdf</strong></td>
																		<td ng-show="uploader.isHTML5" nowrap="" class="ng-binding">0.01 MB</td>
																		<td ng-show="uploader.isHTML5" class="">
																			<div class="progress" style="margin-bottom: 0;">
																				<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 100%;"></div>
																			</div>
																		</td>
																		<td class="text-center">
																			<span ng-show="item.isSuccess" class="ng-hide"><i class="glyphicon glyphicon-ok"></i></span>


																		</td>
																		<td nowrap="">
																			<button type="button" class="btn btn-success btn-xs" ng-click="item.reUpload(item)" ng-disabled="item.isReady || item.isUploading">
																				<span class="glyphicon glyphicon-upload"></span> Re-upload
																			</button>
																			<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading" disabled="disabled">
																				<span class="glyphicon glyphicon-ban-circle"></span> Cancel
																			</button>
																			<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
																				<span class="glyphicon glyphicon-trash"></span> Remove
																			</button>
																		</td>
																	</tr><!-- end ngRepeat: item in uploader.queue --><tr ng-repeat="item in uploader.queue" class="ng-scope">
																		<td><strong class="ng-binding">hard-p0rn-xxx.avi</strong></td>
																		<td ng-show="uploader.isHTML5" nowrap="" class="ng-binding">720.69 MB</td>
																		<td ng-show="uploader.isHTML5" class="">
																			<div class="progress" style="margin-bottom: 0;">
																				<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 100%;"></div>
																			</div>
																		</td>
																		<td class="text-center">
																			<span ng-show="item.isSuccess" class="ng-hide"><i class="glyphicon glyphicon-ok"></i></span>


																		</td>
																		<td nowrap="">
																			<button type="button" class="btn btn-success btn-xs" ng-click="item.reUpload(item)" ng-disabled="item.isReady || item.isUploading">
																				<span class="glyphicon glyphicon-upload"></span> Re-upload
																			</button>
																			<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading" disabled="disabled">
																				<span class="glyphicon glyphicon-ban-circle"></span> Cancel
																			</button>
																			<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
																				<span class="glyphicon glyphicon-trash"></span> Remove
																			</button>
																		</td>
																	</tr><!-- end ngRepeat: item in uploader.queue --><tr ng-repeat="item in uploader.queue" class="ng-scope">
																		<td><strong class="ng-binding">01-05-2014 (1).edi</strong></td>
																		<td ng-show="uploader.isHTML5" nowrap="" class="ng-binding">0.00 MB</td>
																		<td ng-show="uploader.isHTML5" class="">
																			<div class="progress" style="margin-bottom: 0;">
																				<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 100%;"></div>
																			</div>
																		</td>
																		<td class="text-center">
																			<span ng-show="item.isSuccess" class="ng-hide"><i class="glyphicon glyphicon-ok"></i></span>


																		</td>
																		<td nowrap="">
																			<button type="button" class="btn btn-success btn-xs" ng-click="item.reUpload(item)" ng-disabled="item.isReady || item.isUploading">
																				<span class="glyphicon glyphicon-upload"></span> Re-upload
																			</button>
																			<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading" disabled="disabled">
																				<span class="glyphicon glyphicon-ban-circle"></span> Cancel
																			</button>
																			<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
																				<span class="glyphicon glyphicon-trash"></span> Remove
																			</button>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>



													</div>

												</div>








												<hr>
												<div class="pull-right">
													<div class="btn-group">
														<button class="btn btn-default right" type="button" ng-click="previewOn()"><i class="icon-eye-open icon-white"></i> Zapisz i kontynuuj edycję</button>
													</div>
													<div class="btn-group">


														<button class="btn btn-primary">
															Zapisz
														</button>
														<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
															<span class="caret"></span>
														</button>
														<ul class="pull-right dropdown-menu">
															<li>
																<a href="javascript:void(0);">Zapisz i zamknij</a>
															</li>
															<li>
																<a href="javascript:void(0);">Zapisz i udostępnij</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div><!-- /well -->

										<div class="jarviswidget well">


											<div class="widget-body">


												<ul id="myTab1" class="nav nav-tabs bordered">
													<li class="active">
														<a href="#s1" data-toggle="tab"><i class="fa fa-fw fa-lg fa-info"></i> Aktywność</a>
													</li>
													<li class="dropdown">
														<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-lg fa-repeat"></i> Historia <b class="caret"></b></a>
														<ul class="dropdown-menu">
															<li>
																<a href="#s2" data-toggle="tab">Dokumentu</a>
															</li>
															<li>
																<a href="#s3" data-toggle="tab">Załączników</a>
															</li>
														</ul>
													</li>
													<li>
														<!-- fa-history -->
													</li>
													<li class="disabled">
														<a href="#s4" data-toggle="tab"><i class="fa fa-fw fa-lg fa-comments-o"></i> Komentarze <span class="badge bg-color-blue txt-color-white">12</span></a>
													</li>
													<li class="disabled">
														<a href="#s4" data-toggle="tab"><i class="fa fa-fw fa-lg fa-clock-o"></i> Czas pracy</a>
													</li>
													<li class="disabled">
														<a href="#s4" data-toggle="tab"><i class="fa fa-fw fa-lg fa-unlock-alt"></i> Dostęp</a>
													</li>

													<li class="pull-right">
														<a href="javascript:void(0);">
														<div class="sparkline txt-color-pinkDark text-align-right" data-sparkline-height="18px" data-sparkline-width="90px" data-sparkline-barwidth="7"><canvas width="52" height="18" style="display: inline-block; width: 52px; height: 18px; vertical-align: top;"></canvas></div> </a>
													</li>
												</ul>

												<div id="myTabContent1" class="tab-content padding-10">
													<div class="tab-pane in fade active" id="s1">
														<table class="versionList">
															<tbody>
																<tr ng-repeat="item in form.versions | orderBy:'version':true" ng-mouseover="isActive = true" ng-mouseleave="isActive = false" ng-click="editTemplate(form, item)" class="ng-scope">
																	<td class="ng-binding">
																		<i class="fa fa-file-o"></i> <strong class="ng-binding">hard-p0rn-xxx.avi </strong> została dodany przez użytkownika <strong class="ng-binding">JMACH@NEOTERIC.EU</strong> dnia 01-06-2014

																	</td>
																</tr>
																<tr ng-repeat="item in form.versions | orderBy:'version':true" ng-mouseover="isActive = true" ng-mouseleave="isActive = false" ng-click="editTemplate(form, item)" class="ng-scope">
																	<td class="ng-binding">
																		<strong class="ng-binding">WERSJA 3</strong> została utworzona przez użytkownika <strong class="ng-binding">ADMIN@NEOTERIC.EU</strong> dnia 03-06-2014
																	</td>
																</tr>
																<tr >
																	<td class="ng-binding">
																		<strong class="ng-binding">WERSJA 2</strong> została utworzona przez użytkownika <strong class="ng-binding">ADMIN@NEOTERIC.EU</strong> dnia 03-06-2014
																		<button ng-show="isActive" class="btn btn-primary btn-xs ng-hide" ng-click="restoreVersionModal(form, item); $event.stopPropagation();">Przywróć</button>
																	</td>
																</tr>
																<tr>
																	<td class="ng-binding">
																		<strong class="ng-binding">ADMIN@NEOTERIC.EU</strong> dodał

																		<a href="javascript:void(0);" rel="popover" data-placement="top" data-original-title="Komentarz" data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">nowy komentarz <i class="fa fa-comment-o"></i> </a>

																		dnia 03-06-2014
																	</td>

																</tr>
																<tr >
																	<td class="ng-binding">
																		<strong class="ng-binding">WERSJA 1</strong> została utworzona przez użytkownika <strong class="ng-binding">ADMIN@NEOTERIC.EU</strong> dnia 30-05-2014

																	</td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="tab-pane fade" id="s2">
														<table class="versionList">
															<tbody>
																<tr ng-repeat="item in form.versions | orderBy:'version':true" ng-mouseover="isActive = true" ng-mouseleave="isActive = false" ng-click="editTemplate(form, item)" class="ng-scope">
																	<td class="ng-binding">
																		<strong class="ng-binding">WERSJA 3</strong> została utworzona przez użytkownika <strong class="ng-binding">ADMIN@NEOTERIC.EU</strong> dnia 03-06-2014
																	</td>
																</tr>
																<tr ng-repeat="item in form.versions | orderBy:'version':true" ng-mouseover="isActive = true" ng-mouseleave="isActive = false" ng-click="editTemplate(form, item)" class="ng-scope">
																	<td class="ng-binding">
																		<strong class="ng-binding">WERSJA 2</strong> została utworzona przez użytkownika <strong class="ng-binding">ADMIN@NEOTERIC.EU</strong> dnia 03-06-2014
																		<button ng-show="isActive" class="btn btn-primary btn-xs ng-hide" ng-click="restoreVersionModal(form, item); $event.stopPropagation();">Przywróć</button>
																	</td>
																</tr>
																<tr ng-repeat="item in form.versions | orderBy:'version':true" ng-mouseover="isActive = true" ng-mouseleave="isActive = false" ng-click="editTemplate(form, item)" class="ng-scope">
																	<td class="ng-binding">
																		<strong class="ng-binding">WERSJA 1</strong> została utworzona przez użytkownika <strong class="ng-binding">ADMIN@NEOTERIC.EU</strong> dnia 30-05-2014

																	</td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="tab-pane fade" id="s3">
														<table class="versionList">
															<tbody>
																<tr ng-repeat="item in form.versions | orderBy:'version':true" ng-mouseover="isActive = true" ng-mouseleave="isActive = false" ng-click="editTemplate(form, item)" class="ng-scope">
																	<td class="ng-binding">
																		<i class="fa fa-file-o"></i> <strong class="ng-binding">super-document.doc </strong> została dodany przez użytkownika <strong class="ng-binding">ADMIN@NEOTERIC.EU</strong> dnia 03-06-2014
																	</td>
																</tr>
																<tr ng-repeat="item in form.versions | orderBy:'version':true" ng-mouseover="isActive = true" ng-mouseleave="isActive = false" ng-click="editTemplate(form, item)" class="ng-scope">
																	<td class="ng-binding">
																		<i class="fa fa-file-o"></i> <strong class="ng-binding">hard-p0rn-xxx.avi </strong> została zaaktualizowany przez użytkownika <strong class="ng-binding">ADMIN@NEOTERIC.EU</strong> dnia 02-06-2014
																		<button ng-show="isActive" class="btn btn-primary btn-xs ng-hide" ng-click="restoreVersionModal(form, item); $event.stopPropagation();">Przywróć ??</button>
																	</td>
																</tr>
																<tr ng-repeat="item in form.versions | orderBy:'version':true" ng-mouseover="isActive = true" ng-mouseleave="isActive = false" ng-click="editTemplate(form, item)" class="ng-scope">
																	<td class="ng-binding">
																		<i class="fa fa-file-o"></i> <strong class="ng-binding">hard-p0rn-xxx.avi </strong> została dodany przez użytkownika <strong class="ng-binding">JMACH@NEOTERIC.EU</strong> dnia 01-06-2014

																	</td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="tab-pane fade" id="s4"></div>
												</div>

											</div>
										</div>









									</div><!-- /container -->


								</div>
							</div>
						</section>
					</div>
				</div>
			</div>

		</div>









		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

		<script src="js/bootstrap/bootstrap.min.js"></script>
		<script src="js/app.js"></script>

		<script>
			$(document).ready(function() {
				/* jshint ignore:start */
				'use strict';

				pageSetUp();

				/* jshint ignore:end */
			});
		</script>

	</body>

</html>
