<ul class="header-dropdown-list hidden-xs">
	<li class="dropdown" dropdown>
		<a class="dropdown-toggle" dropdown-toggle href-void>
			<img class="flag flag-{{vm.activeLanguage.code}}">
			<span> {{vm.activeLanguage.name}} </span>
			<i class="fa fa-angle-down"></i>
		</a>

		<ul class="dropdown-menu pull-right">
			<li ng-class="{active: language === vm.activeLanguage}"
					ng-repeat="language in vm.languageCollection">
				<a ng-click="vm.setLanguageActive(language)">
					<img class="flag flag-{{language.code}}">
					{{language.name}}
				</a>
			</li>
		</ul>
	</li>
</ul>
