<form class="smart-form" name="loginForm" ng-submit="login()" novalidate>
	<fieldset>
		<section ng-show="formError">
			<p class="alert alert-danger" ng-model="formError">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{'Wrong e-mail or password.'|translate}}
			</p>
		</section>

		<section>
			<label class="input"> <i class="icon-append fa fa-user"></i>
				<input type="email" name="email" placeholder="{{'Email'|translate}}" ng-model="user.login" required>
				<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> {{'Enter your email address.'|translate}}</b>
			</label>
		</section>

		<section>
			<label class="input"> <i class="icon-append fa fa-lock"></i>
				<input type="password" name="password" placeholder="{{'Password'|translate}}" ng-model="user.password" required>
				<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> {{'Enter your password.'|translate}}</b>
			</label>
			<div class="note" ng-controller="ResetPasswordController">
				<a href ng-click="gotoResetPassword()">{{'Forgot password?'|translate}}</a>
			</div>
		</section>
	</fieldset>
	<footer>
		<button type="submit" class="btn btn-primary" ng-disabled="!loginForm.$valid || spinner">
			{{'Log in'|translate}} <i class="fa fa-spinner fa-spin" ng-show="spinner"></i>
		</button>

		<div class="btn-group">
			<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				{{'Login as'|translate}}
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="item in LOGIN_DATA">
					<a href ng-click="loginAs(item)">{{ item.user }}</a>
				</li>
			</ul>
		</div>
	</footer>
</form>
