<div class="dt-toolbar-footer">
	<div class="col-sm-8 hidden-xs neo-table-info"
			 style="position: absolute; overflow: visible">
		{{'Showing'|translate}}

		<span class="txt-color-darken">
			{{params.total() ? (params.page() - 1) * params.count() + 1 : 0}}
		</span>

		{{'to'|translate}}

		<span class="txt-color-darken">
			{{(params.page() * params.count()) &lt; params.total() ? params.page() * params.count() :
		params.total()}}
		</span>

		{{'of'|translate}}
		<span class="text-primary">
			{{params.total()}}
		</span>

		{{'entries paginated by'|translate}}

		<div class="btn-group btn-group-sm" dropdown>
			<button type="button"
							class="btn btn-default dropdown-toggle"
							dropdown-toggle>
				{{ params.count() }} <span class="caret"></span>
			</button>

			<ul class="dropdown-menu dropup" role="menu">
				<li ng-repeat="count in params.settings().counts track by $index">
					<a ng-click="params.count(count)">{{count}}</a>
				</li>
			</ul>
		</div>
		{{'items per page'|translate}}

	</div>

	<div class="col-xs-12 col-sm-4 neo-table-paginate">
		<ul class="pagination">
			<li ng-class="{'disabled': !page.active}"
					ng-repeat="page in pages"
					ng-switch="page.type">

				<a ng-switch-when="prev"
					 ng-click="params.page(page.number)"
					 href-void>
					{{'Previous'|translate}}
				</a>

				<a ng-switch-when="first"
					 ng-click="params.page(page.number)"
					 href-void>
					<span ng-bind="page.number"></span>
				</a>

				<a ng-switch-when="page"
					 ng-click="params.page(page.number)"
					 href-void>
					<span ng-bind="page.number"></span>
				</a>

				<a ng-switch-when="more"
					 ng-click="params.page(page.number)"
					 href-void>
					...
				</a>

				<a ng-switch-when="last"
					 ng-click="params.page(page.number)"
					 href-void>
					<span ng-bind="page.number"></span>
				</a>

				<a ng-switch-when="next"
					 ng-click="params.page(page.number)"
					 href-void>
					{{'Next'|translate}}
				</a>
			</li>
		</ul>
	</div>
</div>
