<h2>{{ form.name }}</h2>

<div ng-cloak>
    <ng-form name="documentForm" class="form-horizontal" role="form">
        <div ng-repeat="field in form.metaFields">
                <field-directive field="field"></field-directive>
        </div>
    </ng-form>

    <div class="form-actions">
        <p class="text-center">
            <button class="btn btn-success right" type="button" ng-disabled="!myForm.$valid" ng-click="submit()"><i class="icon-edit icon-white"></i> Submit Form</button>
            <button class="btn btn-danger right" type="button" ng-click="cancel()"><i class="icon-remove icon-white"></i> Cancel</button>
        </p>
    </div>
</div>
